@import "tailwindcss";

html, body {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
}

/* When camera is active */
.camera-active {
  background-color: transparent !important;
}   